<header class="app-header">
  <a class="app-header__logo" [routerLink]="['/home']">Base</a>
  <!-- Sidebar toggle button-->
  <a class="app-sidebar__toggle" [routerLink]="" data-toggle="sidebar" aria-label="Hide Sidebar"
     (click)="collapse()"></a>
  <!-- Navbar Right Menu-->
  <ul class="app-nav">
    <!-- User Menu-->
    <li ngbDropdown placement="bottom-right" class="dropdown">
      <a ngbDropdownToggle class="app-nav__item" [routerLink]="" data-toggle="dropdown" aria-label="Open Profile Menu">
        <i class="fa fa-user fa-lg"></i>
      </a>
      <ul ngbDropdownMenu class="dropdown-menu settings-menu dropdown-menu-right" >
        <li><a class="dropdown-item"><i class="fa fa-cog fa-lg"></i> Configuración</a></li>
        <li><a class="dropdown-item"><i class="fa fa-user fa-lg"></i> Perfil</a></li>
        <li><a class="dropdown-item" (click)="cerrarSesion()"><i class="fa fa-sign-out fa-lg"></i> Cerrar Sesión</a></li>
      </ul>
    </li>
  </ul>
</header>

  
